/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width:768px){
html{margin-right: 10px;
     margin-left: 10px;}
     
article {  
  display: grid;
  grid-template-columns: auto auto;
  padding: 0%;
  padding-right : 10px;
  padding-left: 1px;
  padding-top : 20px;}

header{
    display: flex;
    flex-wrap: wrap;}

.button {
        display: flex;
        flex-direction: column;
        width:100%;}

header .button input {
  width: 25vw;}

aside{margin-top: 60pt;}

.bouton{
 width: 15vw;}

header article {
    grid-template-columns: auto auto auto;}

}