
html{
box-shadow: -1px 1px 10px 1px rgba(0, 0, 0, 0.47);
margin: 20px;
border-radius: 0px;}


header{
  display: flex;
  justify-content: space-around;}

.bouton{
 cursor: pointer;
 height: 20px;
 width: 25pt;
 margin: 10px;
}

.btn {
  padding: 15px 50px;
  font-size: 16px;
  cursor: pointer;
  background: #fffdfd;
  color: rgb(104, 104, 218);
  border-style: none;}

header .button input {
  width: 10vw;}
  
header div input {
  width: 20vw;}

.lien{
  border-style: groove;
  border-radius: 5px;}

.nav{
  list-style: none;
  border-radius: 70px;}

aside{
  margin-top: 10pt;
  margin-bottom: auto;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  border-radius: 2px;}

.search{
  height: 20px;
  border: none;
  cursor: pointer;
  border-radius: 2px;}

article{ 
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  gap: 20px;
  justify-content: center;}
  
.container{
  background-color: #f1f1f1;
  border: 1px solid rgb(36, 25, 25);
  padding: 2pt;
  padding-top: 5pt;
  font-size: 15px;
  text-align: center;
  border: none;
  border-radius: 1px;
  box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.20);}

  main{display: flex;}